body{
    margin: 0;
    padding: 0;

}



.wrapper {
    position: sticky;
    top: 0;
    z-index: 2; /* Assurez-vous que le z-index est supérieur à celui de vos images ou de tout autre élément. */
    background-color: #fff; /* Définissez la couleur d'arrière-plan souhaitée */
}

input[type="text"], input[type="email"], textarea {
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding: 5px;
}

#mailInputForm{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    padding: 5px;
    width: 250px;

}

.buttonForm {
    width: 100px;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #bb5a3a;
    color: #f9f0ed;
    transition: background-color 0.7s;
}

#buttonSubscribe{
    padding: 15px;
    background-color: transparent;
    color: white;
}
#buttonSubscribe:hover{
    background-color: black;
    transition: 0.7s;
}

button:hover {
    background-color: black;
}

.image:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    background-color: red;
    overflow: hidden;

}


.image-container:hover .overlay {
    opacity: 1;
}


.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hoverElements {
    position: relative;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.hoverElements::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #bb5a3a;
    transition: width 0.5s;
}

.hoverElements:hover::before {
    width: 100%;
}

.menu:hover .hoverElements::before {
    width: 0;
}

.menu .hoverElements:hover::before {
    width: 100%;
}
.hoverIcone:hover{
    color: #bb5a3a;
}

.hoverTxt:hover{
    color: #bb5a3a;
}


@media (max-width: 1539px) {
.imageSecondSection{
    margin-top: 100px;
}
}

@media (max-width: 1539px) {
    .maVieMonBlog {
        visibility: hidden;
    }
}

@media (min-width:374px ) and (max-width: 376px) {
    input[type="text"], textarea {
        border-bottom: 2px solid #000;
        padding: 1px;

    }
    #mail{
        border-bottom: 2px solid black;
        padding: 1px;

    }

    #msg{
        border-bottom: 2px solid black;
        padding: 1px;
    }
}




@media (max-width: 1123px) {
    #divfForm {
        width: 60%;
    }
    .formSubscribe{
        padding-left: 40px;
    }
    #buttonSubscribe{
        border: 2px solid;
    }
    #mailInputForm{
        border: none;
        border-bottom: 2px solid white;
    }

    .secondSection{
        padding-bottom: 50px;
    }

}

@media (min-width: 1124px) {
    #divfForm {
        width: 30%;
    }
}

